channels==2.3.0
channels-redis==2.4.1
dj-database-url
Django==2.2.13
django-environ==0.4.5
django-extensions==2.2.9
django-filter==1.1.0
djangorestframework==3.9.1
Markdown==2.6.10
psycopg2
six
whitenoise==5.0.1
