{% extends 'core/base.html' %}
{% load static %}

{% block main %}

<div class="container">
    <div class="page-header">
        <h1>Welcome to Fishbowl
            <small>Room: {{room}} </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="user-list" class="list-group">
                <li class="list-group-item ">
                    <h4 class="list-group-item-heading">Users</h4>
                    {# Users go here #}
                </li>
            </div>
        </div>
        <div class="col-md-4">
            <div id="scoreboard" class="list-group">
                <li class="list-group-item ">
                    <h4 class="list-group-item-heading">Scoreboard</h4>
                </li>
                <li class="list-group-item score ">
                    <span id="round"> Round: </span>
                    ,
                    <span id="guessingTeam"> Guessing Team: </span>
                    ,
                    <span id="numRemainingWords"> Remaining words: </span>
                </li>
                <li id="redscore" class="list-group-item score redteam">Red: </li>
                <li id="bluescore" class="list-group-item score blueteam">Blue: </li>
                <li class="list-group-item score ">
                    <span id="timer"> Timer:</span>
                    <span id="clueGiver"> Giver:</span>
                </li>
                <li id="currentWord" class="list-group-item score ">Current Word: </li>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Chat</h4>
                </div>
                <div>
                    <ul id="messages" class="messages">
                        {# Messages go here #}
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="chat-input" type="text" class="form-control input"
                            placeholder="Type your message here ..." maxlength="500">
                        <span class="input-group-btn">
                            <button class="btn btn-info btn" id="btn-send"> Send</button>
                        </span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script>
    let sessionKey = '{{ request.session.session_key }}';
    let currentUser = '{{ request.user.username }}';
</script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script src="{% static 'fashbowl/js/app.js' %}"></script>

{% endblock %}