{% extends "layout.html" %}

{% block heading %}
{% endblock %}

{% block body %}

<body>
    <div class="row flex-nowrap app-area">
        <div class="col-channel-width color-channel-test">
            <h4 id="user"></h4>
            <h1 id="channel-heading">Channels</h1>
            <form id="add-channel-form">
                <div class="input-group mb-3 channel-input">
                    <input id="channel" type="text" class="form-control" placeholder="New channel name"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="submit-add-channel" type="submit" class="btn btn-light add-button">
                            <div id="plus">+</div>
                        </button>
                    </div>
                </div>
            </form>
            <ul id="channels">
                {% for channel in channel_list %}
                <form id="switch-channel-form">
                    <button id="submit-switch-channel" type="submit" value={{channel}}>
                        <li id="channel-option"># {{channel}}</li>
                    </button>
                </form>
                {% endfor %}
            </ul>

            <form id="word-form">
                <div class="input-group mb-1 message-input">
                    <input id="word-input" type="text" class="form-control" placeholder="Submit my word here"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="submit-send-word" type="submit" class="btn btn-light add-button">
                            <div id="word-submit">Submit</div>
                        </button>
                    </div>
                </div>
            </form>
            <form id="team-form">
                <div class="input-group mb-1 message-input">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-danger active">
                            <input type="radio" name="options" id="red" autocomplete="off" checked> Red Team
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="blue" autocomplete="off"> Blue Team
                        </label>
                    </div>
                </div>
            </form>
            <div class="start-game">
                <button id="submit-start-game" type="submit" class="btn btn-secondary add-button">
                    <div id="start">Players ready: Start new game!</div>
                </button>
            </div>
            <div id="team-scores" class="channel-heading team-scores">
                <div id="redteam">
                    Red Score:
                </div>
                <div id="blueteam">
                    Blue Score:
                </div>
            </div>
            <div class="start-round">
                <button id="submit-start-round" type="submit" class="btn btn-light ">
                    <div id="startround">Start new round timer!</div>
                </button>
            </div>
            <div class="reset">
                <button id="submit-reset" type="submit" class="btn btn-primary btn-lg btn-block">
                    <div id="reset">Reset all game data</div>
                </button>
            </div>
            <div id="team-players">
                <div>
                    <p style="color:white"> Red Team players:</p>
                    <div style="color:white" id="redplayers"> </div>
                </div>
                <div>
                    <p style="color:white"> Blue Team players:</p>
                    <div style="color:white" id="blueplayers"> </div>
                </div>
            </div>
        </div>
        <div id="message-view" class="col color-message-test">
            <div id="countdown">
                Round Timer
            </div>
            <div id="cluegiver">
                Clue giver:
            </div>
            <div id="currentword">
            </div>
            <div class="comment-container">
                <ul id="comment-list" class="list-unstyled">
                </ul>
            </div>
            <form id="message-form">
                <div class="input-group mb-1 message-input">
                    <input id="message-input" type="text" class="form-control" placeholder="Enter message here"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="submit-send-message" type="submit" class="btn btn-light add-button">
                            <div id="send">Send</div>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
{% endblock %}